* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.hero {
    padding: 30px;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../images/header-image-2.jpeg");
    background-size: cover;
    background-position: bottom;
    position: relative;
    text-align: center;
    font-size: 25px;
    color: rgb(5, 5, 5);
}  

.bottom-right {
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 16px;
    background-color: rgb(223, 218, 220)
}
body {
    background-color: rgb(228, 223, 216);
}

p {
    font-size: 16px;
}

a {
    color: #090909;
    text-decoration: underline;
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
    font-size: 25px;
}

header {
    padding: 15px 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #010100;
    text-align: left;
    background-color: rgb(243, 221, 231);
}    
/* navigation bar links */
header nav {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color:rgb(241, 237, 231);
    padding: 0px 15px;
}

.column {
    float:left;
    padding: 10px;
}

.column.side {
    width:25%;
}

.column.main {
    width:75%;
}

main img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.work-img {
    position: relative;
    text-align: left;
    font-size: 25px;
    color: rgb(5, 5, 5);
    border: 5px solid aquamarine
}