* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
 
.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../images/header-image-2.jpeg");
    background-size: cover;
    background-position: bottom;
}    
body {
    background-color: rgb(241, 237, 231);
}
header {
    padding: 15px 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #010100;
    text-align: left;
    background-color: rgb(243, 221, 231);
}    
/* navigation bar links */
header nav {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
}
a {
    color: #f1eded;
    text-decoration: underline;
    display: inline-block;
    margin-left: 10px;
    list-style-type: none;
 }
 header h1 {
    display: inline-block;
    font-size: 48px;
    background-color:rgb(241, 237, 231);
    padding: 0px 15px;
 }
p {
        font-size: 16px;

 }
 .float-left {
    float: left;
    margin-right: 25px;
 }
 
 .float-right {
    float: right;
    margin-left: 25px;
 }
 .recent-pic img {
    max-height: 100%;
    image-orientation: center;
 }
 
.work-img img {
    max-height: 100%;
    image-orientation: center;
}